.cert-centrado {
        
    margin-left: auto;
    margin-right: auto;
    width:50%;
    text-align: center;
}

#cert-contenedor{
    padding:0 4%;
    margin:0;
}

.cert-descripcion {
    font-style: italic;
}

.cert-resultado{
    font-family:'Plantagenet Cherokee'; 
}
.cert-resultado-bold {

    font-family:'Plantagenet Cherokee'; 
    font-weight:bold;
}
@page {margin-bottom: 0;}